body{
    font-family: 'Raleway', sans-serif;
}
header img{
    height: 250px;
   border-radius: 100%;
   padding-right: 20px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    text-align: center;
}
.work{
    padding: 20px;
}
main h3{
    text-align: center;
    padding-bottom: 20px;
}