body{
    font-family: 'Raleway', sans-serif;
}
header img{
    height: 250px;
   border-radius: 100%;
}
.portada{
    padding: 25px;
}
.detalle{
    padding: 20px;
}
main h3{
    text-align: center;
    padding-bottom: 20px;
}
a{
    color: white;
    text-decoration: none;
  }
.portafolio{
    
}